<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.0" />
       
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages></system.web>
  <connectionStrings>
    <!--<add name="ConnString" connectionString="Data Source=DINH0030-CHANDR\SQLEXPRESS;Database=UKZN;User Id=sa;Password=Dino@123;" providerName="System.Data.SqlClient" />-->
    <add name="ConnString" connectionString="Data Source=206.221.185.162;Database=UKZNDEV1;User Id=ukzndev1_user;Password=Dino@123;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="ChartImageHandler" value="storage=memory;deleteAfterServicing=true;"/>
    <add key="owin:AutomaticAppStartup" value="false"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="PageInspector:ServerCodeMappingSupport" value="Disabled"/>
    <add key="VatPercentage" value="14.00"/>
    <add key="MinCacelationFee" value="200"/>
    <add key="UKZNsupplierno" value="9592781"/>
  </appSettings>
</configuration>
